.lead__caption{
    min-width: 158px;
    margin: 8px 0 0 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 0.625rem;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}